input(name='attr_version' type='hidden' value='4.51')

//- CHARACTER SHEET PAGE
input.sheet_type(name='attr_sheet_type' type='hidden' value='pc')

//- CHARACTER TYPE (MUNDANE < MAGIC < RESONANCE)
input.character-type(name='attr_flag_special' type='hidden' value='mundane')

//- MIXINS
include pug/abstracts/_mixins.pug

//- VARIABLES
include pug/base/_variables.pug

- const imageSource = 'https://raw.githubusercontent.com/clevett/Roll20-character-sheet-Shadowrun-5th-Edition/main/src/imgs'

//- PCs
include pug/pages/pc.pug

//- NPCs
include pug/pages/npc.pug

//- FOOTER
.footer
	div
		span(data-i18n="copyrightfooter")
		span Version
		span(name="attr_version")
	img(alt='Emerald Productins, LLC' src=`${imageSource}/EProd_Emerald_Gloss.png`)

//- ROLL TEMPLATES
include pug/_rolltemplates.pug

//- HIDDEN
include html/hidden.html

//- SCRIPTS
include pug/scripts.pug

//- CHARACTER IMPORTER
include components/CharacterImporter/importer.html
